﻿@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Institucion financiera</h1>
    
    <button type="button" data-toggle="modal" data-target="#exampleModal" onclick="ClienteAlta();" class="btn btn-primary">Agrega tarjetabiente</button>

    <table class="table">
        <thead>
            <tr>
                <th scope="col"># Identificacion</th>
                <th scope="col">Nombre</th>
                <th scope="col">Agregar Cuenta</th>
            </tr>
        </thead>
        <tbody id="clientes">
        </tbody>
    </table>
</div>

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Cuentas</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body" id="detalle">

            </div>
            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

<div class="modal fade" id="detalleOperaciones" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">

            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Movimientos</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <table class="table table-primary">
                    <thead>
                        <tr class="table-primary">
                            <th scope="col">Fecha</th>
                            <th scope="col">Monto</th>
                        </tr>
                    </thead>
                    <tbody id="operaciones">
                    </tbody>
                </table>
            </div>
            <div class="modal-footer">
            </div>

        </div>
    </div>
</div>

<script>    
    window.addEventListener("load", function (event) {
        GetCustomers()
    });
</script>

